appdirs==1.4.4
arabic-reshaper==2.1.1
asgiref==3.2.10
Babel==2.9.0
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cssselect2==0.4.1
dateutils==0.6.7
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.4
django-appconf==1.0.4
django-cors-headers==3.5.0
django-crequest==2018.5.11
django-crispy-forms==1.8.0
django-filter==2.4.0
django-jazzmin==2.2.11
django-polymorphic==3.0.0
django-reversion==3.0.8
django-select2==7.4.2
django-sequences==2.5
django-slick-reporting==0.2.9
django-tabular-permissions==2.8
djangorestframework==3.12.1
docopt==0.6.2
drf-yasg==1.20.0
filelock==3.0.12
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.20.1
packaging==20.4
pandas==1.2.2
Pillow==7.2.0
pipenv==2020.11.15
pipreqs==0.4.10
psycopg2-binary==2.8.6
pycparser==2.20
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-memcached==1.59
pytz==2018.9
reportlab==3.5.59
requests==2.24.0
rjsmin==1.1.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
swapper==1.1.1
tinycss2==1.1.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==20.4.3
virtualenv-clone==0.5.4
WeasyPrint==52.2
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
yarg==0.1.9
