{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}

{% block title %} Reports {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="card">
		<div class="card-header card-header-primary">
            <h4 class="card-title">Collections Report</h4>
        </div>	
		<div class="card-body">
				
			<form role="form" method="GET" action="">
				<fieldset class="form-fieldset">
					<legend class="form-legend">Report Selection</legend>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Branch</label>
								{{ searchform.branch }}
							</div>
						</div>
						<div class="col-md-1"> </div>
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Profit Centre</label>
								{{ searchform.profitcentre }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Cost Centre/Department</label>
								{{ searchform.costcentre }}
							</div>
						</div>
						<div class="col-md-1"> </div>
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Product</label>
								{{ searchform.product }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Collection From</label>
								{{ searchform.start_date }}
							</div>
						</div>
						<div class="col-md-1"> </div>
						<div class="col-md-5">
							<div class="form-group">
							 	<label class="bmd-label-floating">Collection To</label>
								{{ searchform.end_date }}
							</div>
						</div>
					</div>
				</fieldset>
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-5">
						<button type="submit" name="get" class="btn btn-primary pull-left">Get Collections</button>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-md-12">
					<table id="collections" class="dataTable">
						<thead class=" text-primary">
							<th> Branch </th>
							<th> Product </th>
							<th> Loan Number </th>
							<th> Customer Name </th>
							<th> Rec. Date </th>
							<th> Reference </th>
							<th> Invoice Number </th>
							<th> Total Amount </th>
						</thead>
						<tbody>
							{% for trans in loantrans %}
								<tr>
									<td> {{ trans.loan.branch }} </td>
									<td> {{ trans.loan.product }} </td>
									<td> {{ trans.loan.loan_no }} </td>
									<td> {{ trans.loan.customer.full_name }} </td>
									<td> {{ trans.payment_date }} </td>
									<td> {{ trans.invoice_reference }} </td>				
									<td> {{ trans.invoice_no }} </td>
									<td align="right"> {% if paid_amount > 0.00 %} 
											{{ trans.paid_amount }} 
										 {% else %}
											{{ trans.total_amount }}
										 {% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

      
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
	// Date Format
	Date.prototype.toInputFormat = function() {
       var yyyy = this.getFullYear().toString();
       var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
       var dd  = this.getDate().toString();
       return yyyy + "-" + (mm[1]?mm:"0"+mm[0]) + "-" + (dd[1]?dd:"0"+dd[0]); // padding
    };
	
	
	// Standard Function
    $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
		md.initDashboardPageCharts();
	// Data Table
	$('#collections').DataTable( {
				dom: 'Bfrtip',
				buttons: [
					'excel', 'pdf'
				]
			} );
    });
  </script>

{% endblock javascripts %}
